# =========================
# Python & Virtualenv
# =========================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment & Config
# =========================
.env
*.sqlite3

# =========================
# Logs & Databases
# =========================
*.log
*.db

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Specific
# =========================
.DS_Store
Thumbs.db
